@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-preset-1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: -0.25px;
}

.text-preset-2-bold {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: -0.25px;
}

.text-preset-2-regular {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 100%;
  letter-spacing: -0.25px;
}

.text-preset-3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 100%;
  letter-spacing: -0.25px;
}

:root {
  --Purple-100: hsl(236, 33%, 92%);
  --Purple-300: hsl(234, 39%, 85%);
  --Purple-600: hsl(235, 16%, 43%);
  --Purple-700: hsl(233, 14%, 35%);
  --Purple-800: hsl(237, 14%, 26%);

  --gray-600: hsl(236, 9%, 61%);
  --gray-300: hsl(233, 11%, 84%);
  --gray-50: hsl(0, 0%, 98%);

  --navy-950: #171823;
  --navy-900: #25273d;
  --navy-850: #494c6b;

  --blue: #3a7cfd;

  --gradient-1: linear-gradient(to bottom right, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
  --gradient-2: linear-gradient(to bottom right, hsl(254, 85%, 40%) 0%, hsl(307, 64%, 39%) 100%);

  --spacing-0-0px: 0rem; /* 0px */
  --spacing-100-8px: 0.5rem; /* 8px / 16 = 0.5rem */
  --spacing-200-16px: 1rem; /* 16px / 16 = 1rem */
  --spacing-300-24px: 1.5rem; /* 24px / 16 = 1.5rem */
  --spacing-500-40px: 2.5rem; /* 40px / 16 = 2.5rem */
  --spacing-600-48px: 3rem; /* 48px / 16 = 3rem */

  --primaryBackground: var(--gray-50);

  --secondaryBackground: #ffffff;

  --borderPrimarycolor: var(--Purple-300);

  --fontColorPrimary: var(--gray-600);
  --fontColorSecondary: var(--Purple-800);

  --todoTextColor: var(--navy-850);
  --todoTextColorChecked: var(--Purple-700);

  --hoverColorBtns: var(--navy-850);

  --boxShadowColor: hsla(237, 20%, 80%, 0.5);
  --svgHoverColor: #000000;
}

:root.dark-mode {
  --primaryBackground: var(--navy-950);
  --secondaryBackground: var(--navy-900);

  --borderPrimarycolor: var(--Purple-800);

  --fontColorPrimary: var(--Purple-600);
  --fontColorSecondary: var(--gray-600);

  --todoTextColor: var(--Purple-100);

  --hoverColorBtns: var(--Purple-300);

  --boxShadowColor: hsl(0, 0%, 0%, 0.5);
  --svgHoverColor: #939393;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;

  font: inherit;
}

body {
  background-color: var(--primaryBackground);
  color: var(--fontColorPrimary);

  min-width: 23.4375rem; /*  375px */

  font-family: "Josefin Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 100%;
  letter-spacing: -0.25px;
}

.background-image-container {
  width: 23.4375rem; /*  375px */

  height: 12.5rem;
  position: absolute;
  top: 0;

  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
}

header,
.new-todo-container,
.todo-item,
.todo-item-content,
.footer,
.filters-container,
.filters-container > ul {
  display: flex;
}
.container,
.todo-list,
main {
  display: flex;
  flex-direction: column;
}

/* radiuses */

.new-todo-container,
.todo-items-container,
.filters-container {
  border-radius: 0.3125rem;
}

/* curser */

input[type="checkbox"]:checked,
input,
.todo-item-content > span,
button {
  cursor: pointer;
}
/* hover */

button:hover {
  color: var(--hoverColorBtns);
}

.container {
  margin: 0 auto;
  margin-top: var(--spacing-600-48px);
  margin-bottom: var(--spacing-600-48px);
  width: 20.4375rem /*  327px */;

  gap: 2.5rem;
}

header {
  justify-content: space-between;
}

h1 {
  color: white;
}

.new-todo-container {
  background-color: var(--secondaryBackground);
  height: 3rem;
  padding-inline: var(--spacing-300-24px);

  align-items: center;
  gap: var(--spacing-300-24px);
}

input[type="checkbox"] {
  appearance: none;

  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--borderPrimarycolor);

  border-radius: 9999px;
}
input[type="checkbox"]:hover {
  border-color: var(--gradient-1);
}

input[type="checkbox"]:checked {
  background: url("./assets//images/icon-check.svg"), var(--gradient-1);
  background-repeat: no-repeat;
  background-position: center;

  border: none;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
  color: var(--todoTextColorChecked);
}

input {
  border: none;
  outline: none;

  font: inherit;
  color: var(--fontColorSecondary);

  background-color: inherit;
}

main {
  gap: var(--spacing-600-48px);
}

.todo-list {
  gap: 1rem;
}

.todo-items-container {
  background-color: var(--secondaryBackground);
  box-shadow: 0px 35px 50px -15px var(--boxShadowColor);
}

.todo-item {
  height: 3.25rem;
  padding-inline: var(--spacing-300-24px);

  justify-content: space-between;
  align-items: center;
}

.todo-item:not(:last-child) {
  border-bottom: 1px solid var(--borderPrimarycolor);
}

.todo-item > button {
  height: 0.75rem;
  width: 0.75rem;
}

.todo-item svg {
  width: 100%;
  height: 100%;

  path {
    fill: var(--navy-850);
  }
}

.todo-item svg:hover {
  path {
    fill: var(--svgHoverColor);
  }
}

.footer {
  border-top: 1px solid var(--borderPrimarycolor);
  height: 3.25rem;

  padding-inline: var(--spacing-300-24px);
  justify-content: space-between;
  align-items: center;
}

.todo-item-content {
  gap: 1rem;

  align-items: center;
}

.todo-item-content > span {
  color: var(--todoTextColor);
}
hr {
  border: 1px solid var(--borderPrimarycolor);
}
.filters-container {
  background-color: var(--secondaryBackground);
  height: 3rem;

  justify-content: center;
  align-items: center;

  box-shadow: 0px 35px 50px -15px var(--boxShadowColor);
}
.filters-container > ul {
  gap: 1rem;
}

.active {
  color: var(--blue);
}

.footer > .filters-container {
  display: none;
}

main > :last-child {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;

  object-fit: fill;
}

@media (min-width: 23.5rem) {
  html {
    overflow-x: hidden;
  }

  body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: -0.25px;

    max-width: 90rem;
    margin: 0 auto;
  }
  .container {
    width: 33.75rem;
  }
  .background-image-container {
    width: 100%;
    height: 18.75rem;
    overflow: hidden;
  }
  img {
    width: 90rem;
  }
  .new-todo-container {
    height: 4rem;
  }

  input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
  }

  .todo-list > .filters-container {
    display: none;
  }

  .footer > .filters-container {
    display: block;
    height: auto;
  }
  .todo-item-content {
    gap: var(--spacing-300-24px);
  }

  .todo-item > button {
    height: 1.125rem;
    width: 1.125rem;
  }

  main {
    gap: var(--spacing-300-24px);
  }

  .todo-item {
    height: 4.5rem;
  }

  .footer {
    height: 4.5rem;
  }
}
